body {
  font-family: "Poppins", sans-serif;
}
/* sticky add to cart */
.sticky-add-to-cart {
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(38, 38, 38, 0.125);
  z-index: 1099;
  position: fixed;
  top: -200px;
  transition: top 0.8s ease-in-out;
  width: 100%;
  padding: 1rem 0;
}

.sticky-add-to-cart.show {
  top: 0
}  

.sticky-add-to-cart .price {
  font-weight: 500;
}

/*header section */
.info-banner {
  background-color: #313030;
  color: #fff;
  padding: 12px;
  position: relative;
  z-index: 2;
}

.navbar .superpatch-logo {
  height: 50px;
}

.banner-text {
  position: relative;
  z-index: 2;
  padding: 10rem 2rem;
}

/* add to cart section */
.add-to-cart-section img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.add-to-cart-section .freedom-banner {
  filter: brightness(0.8);
}

.freedom-title {
  color: #454545;
}

.freedom-info-container {
  position: absolute;
  z-index: 2;
  padding: 0 1rem 2rem 2rem;
}

.freedom-info-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 16px 0 16px;
}

.freedom-info-text .preferred {
  font-size: 18px;
  line-height: 24px;
}

.review .count,
.review .total-reviews-count {
  margin-bottom: -2px;
}

.price-per-pack .price {
  font-weight: 500;
}

.quantity-input {
  border-radius: 6px;
  border: 1px solid #a7a5a5;
}

.quantity-btn,
.quantity-btn:hover,
.quantity-btn:active {
  background-color: #d9d9d9 !important;
  border-radius: 4px !important;
  border: none;
}

.quantity {
  text-align: center;
  border: none;
  margin: 0 5px;
}

.quantity:focus {
  box-shadow: none;
}

.benefits ul {
  padding-left: 1rem;
}

/* marquee section */
.marquee-section {
  overflow: hidden;
}

.benefits-scroll {
  overflow: hidden;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.benefits-tags {
  display: flex;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  -webkit-animation: marquee 30s linear infinite;
  animation: marquee 30s linear infinite;
}

.benefits-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.benefits-title {
  white-space: nowrap;
  overflow: hidden;
  padding: 2rem 0;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #828282;
  font-size: 18px;
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

/* neuromatrix video section */
.neuromatrix-video-section {
  position: relative;
  background: url(../images/freedom-patch-video.png) no-repeat center center;
  background-size: cover;
  height: auto;
  width: 100%;
  aspect-ratio: 24 / 9;
}

.neuromatrix-video {
  max-width: 50%;
  float: left;
}

.neuromatrix-video .neuro-text {
  color: #ff746c;
}

.neuromatrix-video-section .neuromatrix-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.neuromatrix-video-section .video-container {
  aspect-ratio: 24/9;
}

.neuromatrix-video-section #neuromatrixVideo {
  cursor: pointer;
}

/* compare-section  */
.large-screen .btn.active,
.large-screen .btn:hover,
.large-screen .btn:first-child:active,
.large-screen :not(.btn-check) + .btn:active {
  color: #fff;
  background: #cd0b23;
  border: 1px #cd0b23 solid;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 24px;
}

.large-screen .btn-overview,
.large-screen .btn-detailed {
  color: #cd0b23;
  background: #fff;
  border: 1px #cd0b23 solid;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 24px;
}

.large-screen .btn-overview {
  margin-right: -3px;
}

.large-screen .btn-detailed {
  margin-left: -3px;
}

.large-screen .remove-left-border {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: none !important;
}

.large-screen .remove-right-border {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none !important;
}

.large-screen td {
  vertical-align: middle;
}

.large-screen .detailed-active .pros-cons {
  display: inline;
  margin-left: 6px;
}

.large-screen img {
  margin-top: -2px;
}

.compare-section table {
  border-color: #b5b3b3;
}

.compare-section th {
  background-color: #cd0b23;
  color: #fff;
}

.compare-section .benefit-title {
  font-weight: 600;
}

.compare-section .pros-cons {
  display: none;
}

.small-screen .toggle-chevron {
  float: right;
}

.small-screen table {
  width: 100%;
  table-layout: fixed;
}

/* customers review section */
.customers-review-section h4 {
  font-weight: 400;
}

.customers-review-section h5 {
  font-weight: 400;
}

.customers-review-section .item {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.name-initial {
  width: 50px;
  height: 50px;
  background: #d60000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

/* faq section */
.faq-section .accordion-item {
  border: none;
  margin-bottom: 12px;
  border-radius: 10px !important;
}

.accordion-item .accordion-header .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
}

.accordion-button:not(.collapsed) {
  background-color: #ffffff;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none;
}

/* how to apply section */
.how-to-apply-section .step-image-container {
  position: relative;
  width: fit-content;
}

.how-to-apply-section .step-image {
  position: relative;
  z-index: 2;
}

.how-to-apply-section .background-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  width: 100%;
  height: 80%;
  z-index: 1;
  border-radius: 10px;
}

.how-to-apply-section .number {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #000;
  height: 45px;
  width: 45px;
  z-index: 2;
  border-radius: 50%;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px #fff solid;
}

/* about section */
.about-section .woman img {
  object-fit: cover;
  aspect-ratio: 16/9;
  object-position: left center;
  height: 100%;
}

.about-section .man img {
  object-fit: cover;
  aspect-ratio: 16/9;
  object-position: right center;
  height: 100%;
}

/* jeffrey gudin section */
.jeffrey-gudin-section .image-container {
  position: relative;
}

.jeffrey-gudin-section .background-box {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f73734;
  width: 100%;
  height: 72%;
  z-index: 1;
}

.jeffrey-gudin-section .profile-image {
  position: relative;
  z-index: 2;
}

.show-more-btn,
.show-less-btn {
  cursor: pointer;
}

/* cart modal */
.cart-modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  z-index: 3;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid rgb(0 0 0 / 13%);
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.125);
  width: 100%;
  max-width: 1300px;
}

.quantities .quantity-select {
  cursor: pointer;
}

/* footer section */
.footer-section .bi {
  color: #828282;
}

.footer-section a {
  color: #000;
  text-decoration: none;
}

/* global */
.stars {
  color: #fbbc05;
}

.light-gray-bg {
  background-color: #f7f7f7;
}

.add-to-cart-btn {
  padding: 6px 0 !important;
}

.btn-red {
  background-color: #ef0c0c;
  border-color: #ef0c0c;
  color: #ffffff;
  padding: 6px 18px;
}

.btn-red:hover,
.btn-red:active {
  background-color: #cc0000 !important;
  border-color: #cc0000 !important;
  color: #ffffff !important;
}

.owl-carousel .owl-stage {
  display: flex;
}

.card-item {
  height: 100%;
}

.sub-heading-color {
  color: #343a40;
}

/* media queries */
@media (max-width: 767px) {
  .neuromatrix-video-section {
    aspect-ratio: 1/1;
  }

  .neuromatrix-video {
    max-width: 100%;
  }

  .neuromatrix-video .neuro-text {
    text-shadow: 1px 2px rgba(0, 0, 0, 0.8);
  }

  .pack {
    font-size: 10px !important;
  }

  .discover-section h2 {
    font-size: 20px;
  }

  .freedom-info-container {
    padding: 0 24px 6px 24px;
  }

  .add-to-cart-section .freedom-patch {
    width: 40%;
  }

  .freedom-info-text {
    margin-top: 1rem;
    padding: 0;
  }

  .freedom-info-text h2 {
    font-size: 34px;
  }

  .freedom-info-text .preferred {
    font-size: 16px;
  }

  .freedom-info-text .benefits-text {
    font-size: 13px;
  }

  .second-paragraph {
    display: none;
  }

  #show-more-btn,
  #show-less-btn {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .second-paragraph {
    display: block;
  }

  #show-more-btn,
  #show-less-btn {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .freedom-info-text h2 {
    font-size: 50px;
  }

  .freedom-info-text .preferred {
    font-size: 23px;
    line-height: 30px;
  }

  .freedom-info-text .benefits-text {
    font-size: 16px;
  }

  .neuromatrix-video-section {
    aspect-ratio: 16/9;
  }
}

@media (max-width: 992px) {
  .sticky-add-to-cart {
    padding: 34px 12px;
  }

  .about-section img {
    height: auto !important;
  }

  .about-section .man img {
    object-position: top center;
  }

  .p-xs {
    padding: 0 24px;
  }

  .neuromatrix-video-section .neuromatrix-video {
    bottom: 2% !important;
  }

  .about-section img {
    border-radius: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .sticky-add-to-cart .title {
    font-size: 16px !important;
  }
  
  .add-to-cart-section img {
    object-fit: cover;
  }

  .pack {
    font-size: 14px !important;
  }

  .freedom-info-text h2 {
    font-size: 31px;
  }

  .freedom-info-text .preferred {
    font-size: 14px;
    line-height: 20px;
  }

  .freedom-info-text .benefits-text {
    font-size: 10px;
  }
}

@media (min-width: 1400px) {
  .compare-section {
    padding-top: 6rem !important;
  }
}
